@using FlexBackend.SUP.Rcl.Areas.SUP.ViewModels
@* _SupplierFormPartial.cshtml 共用表單欄位*@

@model LogisticsContactViewModel

@{
    // 根據 ViewBag.FormAction 決定表單提交 URL
    var formAction = ViewBag.FormAction == "Edit" ?
        Url.Action("Edit", "Logistics", new { id = Model.LogisticsId, area = "SUP" })
        : Url.Action("Create", "Logistics", new { area = "SUP" });
}

<form id="logisticsForm" action="@formAction" method="post">
    @Html.AntiForgeryToken()

    @* 編輯模式需要帶回 LogisticsId *@
    @if (ViewBag.FormAction == "Edit")
    {
        <input type="hidden" asp-for="LogisticsId" />
    }

    <div class="container-fluid">
        <div class="d-flex ">
            <button type="button" id="fillLogistics" class="btn d-flex mb-3" style="background-color:#35afe6;color:#fff;">+</button>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="LogisticsName" class="form-control" placeholder="" />
            <label asp-for="LogisticsName" class="form-label">@Html.DisplayNameFor(m => m.LogisticsName)</label>
            <span asp-validation-for="LogisticsName" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="ShippingMethod" class="form-control" placeholder="" />
            <label asp-for="ShippingMethod" class="form-label">@Html.DisplayNameFor(m => m.ShippingMethod)</label>
            <span asp-validation-for="ShippingMethod" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        <div class="border rounded d-flex align-items-center px-3" style="height: 3.5rem;">
            <label class="form-label mb-0 me-3 flex-shrink-0" for="IsActive">啟用狀態</label>

            <div class="form-check form-switch ms-3 mb-0">
                <input type="hidden" name="IsActive" value="false" />
                <input class="form-check-input" type="checkbox"
                       id="IsActive" name="IsActive"
                       value="true"
                       @(Model.IsActive ? "checked" : "")>
            </div>
        </div>

        <p id="statusMsg" class="text-success my-2"></p>

        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-success">儲存</button>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            // 重新解析 jQuery Unobtrusive Validation
            $.validator.unobtrusive.parse('#logisticsForm');
        });
    </script>
}
