@using tHerdBackend.Core.DTOs.SUP
@using tHerdBackend.Core.DTOs.SUP.Brand
@using tHerdBackend.SUP.Rcl.Areas.SUP.ViewModels
@* _BrandFormPartial.cshtml（新增、編輯品牌表單） *@

@model BrandDto

@{
    var formAction = ViewBag.FormAction == "Edit" ?
        Url.Action("Edit", "Brands", new { id = Model.BrandId, area = "SUP" })
        : Url.Action("Create", "Brands", new { area = "SUP" });
}

<form id="BrandForm" action="@formAction" method="post">
    @Html.AntiForgeryToken()

    @* 只保留一個 BrandId hidden *@
    @if (ViewBag.FormAction == "Edit")
    {
        <input type="hidden" asp-for="BrandId" />
    }

    <div class="d-flex justify-content-start mb-4">
        <button type="button" id="fillNameContact"
                class="btn d-flex align-items-center me-2"
                style="background-color:#35afe6;color:#fff;">
            自動填入名稱與簡碼
        </button>
    </div>

    <div class="container-fluid">
        @* 品牌名稱 *@
        <div class="form-floating mb-2">
            <input asp-for="BrandName" class="form-control" placeholder="" />
            <label asp-for="BrandName" class="form-label">@Html.DisplayNameFor(m => m.BrandName)</label>
            <span asp-validation-for="BrandName" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        @* 品牌簡碼 *@
        <div class="form-floating mb-2">
            <input asp-for="BrandCode" class="form-control" placeholder="" />
            <label asp-for="BrandCode" class="form-label">@Html.DisplayNameFor(m => m.BrandCode)</label>
            <span asp-validation-for="BrandCode" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        @* 供應商下拉選單 *@
        <div class="form-floating mb-2">

            <select asp-for="SupplierId" class="form-select" asp-items="ViewBag.Suppliers">
                <option value="">請選擇供應商</option>
            </select>
            <label asp-for="SupplierId" class="form-label">@Html.DisplayNameFor(m => m.SupplierName)</label>
            <span asp-validation-for="SupplierId" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        @* SeoId
        <div class="form-floating mb-2">
            <input asp-for="SeoId" class="form-control" type="text" placeholder="" />
            <label asp-for="SeoId" class="form-label">@Html.DisplayNameFor(m => m.SeoId)</label>
            <span asp-validation-for="SeoId" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        @* 品牌折扣狀態 *@
        @* <div class="border rounded d-flex align-items-center px-3" style="height: 3.5rem;">
            <label class="form-label mb-0 me-3 flex-shrink-0" for="IsDiscountActive">折扣狀態</label>
            <div class="form-check form-switch ms-3 mb-0">
                <input type="hidden" name="IsDiscountActive" value="false" />
                <input class="form-check-input" type="checkbox"
                       id="IsDiscountActive" name="IsDiscountActive"
                       value="true"
                       @(Model.IsDiscountActive ? "checked" : "")>
            </div>
        </div>
        <p id="IsDiscountActiveStatusMsg" class="text-success my-2"></p> *@

        @* 精選品牌狀態 *@
        <div class="border rounded d-flex align-items-center px-3" style="height: 3.5rem;">
            <label class="form-label mb-0 me-3 flex-shrink-0" for="IsFeatured">精選品牌狀態</label>
            <div class="form-check form-switch ms-3 mb-0">
                <input type="hidden" name="IsFeatured" value="false" />
                <input class="form-check-input" type="checkbox"
                       id="IsFeatured" name="IsFeatured"
                       value="true"
                       @(Model.IsFeatured ? "checked" : "")>
            </div>
        </div>
        <p id="IsFeaturedStatusMsg" class="text-success my-2"></p>

        @* 品牌啟用狀態 *@
        <div class="border rounded d-flex align-items-center px-3" style="height: 3.5rem;">
            <label class="form-label mb-0 me-3 flex-shrink-0" for="IsActive">啟用狀態</label>
            <div class="form-check form-switch ms-3 mb-0">
                <input type="hidden" name="IsActive" value="false" />
                <input class="form-check-input" type="checkbox"
                       id="IsActive" name="IsActive"
                       value="true"
                       @(Model.IsActive ? "checked" : "")>
            </div>
        </div>
        <p id="IsActiveStatusMsg" class="text-success my-2"></p>

        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-success">儲存</button>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            $.validator.unobtrusive.parse('#BrandForm');
        });
    </script>
}
