@using tHerdBackend.Core.DTOs.SUP
@using tHerdBackend.Core.DTOs.SUP.Brand
@using tHerdBackend.SUP.Rcl.Areas.SUP.ViewModels
@* _BrandsInfoPartial.cshtml 唯讀欄位 *@

@model BrandDto

<div class="container-fluid">
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.BrandName)：</div>
        <div>@Model.BrandName</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.BrandCode)：</div>
        <div>@Model.BrandCode</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.SupplierName)：</div>
        <div>@Model.SupplierName</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.DiscountRate)：</div>
        <div>@(Model.DiscountRate.HasValue ? $"{Model.DiscountRate.Value:F2}%" : "無")</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.IsDiscountActive)：</div>
        <div>
            @(Model.IsDiscountActive.GetValueOrDefault() ? "折扣啟用" : "無折扣")
        </div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.IsFeatured)：</div>
        <div>@(Model.IsFeatured ? "精選" : "一般")</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.IsActive)：</div>
        <div>@(Model.IsActive ? "啟用" : "停用")</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.LikeCount)：</div>
        <div>@Model.LikeCount</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Creator)：</div>
        <div>@Model.Creator</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.CreatedDate)：</div>
        <div>@Model.CreatedDate.ToString("yyyy/MM/dd tt hh:mm:ss")</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Reviser)：</div>
        <div>
            @(Model.Reviser.HasValue? Html.DisplayFor(m => m.Reviser) : "尚無異動紀錄")
        </div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.RevisedDate)：</div>
        <div>
            @(Model.RevisedDate.HasValue? Model.RevisedDate.Value.ToString("yyyy/MM/dd tt hh:mm:ss") : "尚無異動紀錄")
        </div>
    </div>

    <div class="text-center mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回列表</button>
    </div>
</div>