@using FlexBackend.SUP.Rcl.Areas.SUP.ViewModels
@* _SupplierInfoPartial.cshtml 唯讀欄位 *@

@model ContactViewModel

<div class="container-fluid">
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.SupplierName)：</div>
        <div>@Model.SupplierName</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.ContactName)：</div>
        <div>@Model.ContactName</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Phone)：</div>
        <div>@Model.Phone</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Email)：</div>
        <div>@Model.Email</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.IsActive)：</div>
        <div>@(Model.IsActive ? "啟用" : "停用")</div>
    </div>
    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Creator)：</div>
        <div>@Model.Creator</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.CreatedDate)：</div>
        <div>@Model.CreatedDate.ToString("yyyy/MM/dd tt hh:mm:ss")</div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.Reviser)：</div>
        <div>
            @(Model.Reviser.HasValue? Html.DisplayFor(m => m.Reviser) : "尚無異動紀錄")
        </div>
    </div>

    <div class="d-flex mb-2">
        <div class="fw-bold me-2">@Html.DisplayNameFor(m => m.RevisedDate)：</div>
        <div>
            @(Model.RevisedDate.HasValue? Model.RevisedDate.Value.ToString("yyyy/MM/dd tt hh:mm:ss") : "尚無異動紀錄")
        </div>
    </div>


    <div class="text-center mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回列表</button>
    </div>
</div>
