@using FlexBackend.SUP.Rcl.Areas.SUP.ViewModels
@* _StockBatchFormPartial.cshtml 共用表單欄位*@

@model StockBatchContactViewModel

@{
    // 根據 ViewBag.FormAction 決定表單提交 URL
    var formAction = ViewBag.FormAction == "Edit" ?
        Url.Action("Edit", "SupStockBatches", new { id = Model.StockBatchId })
        : Url.Action("Create", "SupStockBatches");
}

<form id="stockBatchForm" action="@formAction" method="post">

    @Html.AntiForgeryToken()

    @* 放隱藏欄位，Edit 的時候才能帶回 StockBatchId *@
    @if (ViewBag.FormAction == "Edit")
    {
        <input type="hidden" asp-for="StockBatchId" />
    }

    <div class="container-fluid">
        <div class="form-floating mb-2">
            <input asp-for="SkuId" class="form-control" placeholder="" />
            <label asp-for="SkuId" class="form-label">@Html.DisplayNameFor(m => m.SkuId)</label>
            <span asp-validation-for="SkuId" class="text-danger mt-1 d-block ms-2 "></span>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="BatchNumber" class="form-control" placeholder="" />
            <label asp-for="BatchNumber" class="form-label">@Html.DisplayNameFor(m => m.BatchNumber)</label>
            <span asp-validation-for="BatchNumber" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        <div class="form-floating mb-2">
            <input type="text" asp-for="Qty" class="form-control" placeholder=" " />
            <label asp-for="Qty" class="form-label">@Html.DisplayNameFor(m => m.Qty)</label>
            <span asp-validation-for="Qty" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="ExpireDate" class="form-control" placeholder="" />
            <label asp-for="ExpireDate" class="form-label">@Html.DisplayNameFor(m => m.ExpireDate)</label>
            <span asp-validation-for="ExpireDate" class="text-danger mt-1 d-block ms-2"></span>
        </div>

        <div class="border rounded d-flex align-items-center px-3" style="height: 3.5rem;">
            <label class="form-label mb-0 me-3 flex-shrink-0" for="IsSellable">是否可銷售</label>

            <!-- hidden values -->
            <input type="hidden" id="StockBatchId" name="StockBatchId" value="@Model.StockBatchId" />
            <input type="hidden" id="SkuId" name="SkuId" value="@Model.SkuId" />

            <div class="form-check form-switch ms-3 mb-0">
                <input class="form-check-input" type="checkbox"
                       id="IsSellable" name="IsSellable"
                       value="true"
                       @(Model.IsSellable ? "checked" : "")>
            </div>
        </div>
        <p id="statusMsg" class="text-success my-2"></p>

        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-success">儲存</button>
        </div>
    </div>
</form>

@section Scripts {
    @* 重新解析 jQuery Validation *@
    <script>
        $(function () {
            $.validator.unobtrusive.parse('#stockBatchForm');
        });
    </script>
}
