@using System.Text.Json
@using FlexBackend.CNT.Rcl.Areas.CNT.ViewModels  

<h2>@Model.Title</h2>

@foreach (var block in Model.CntPageBlocks)
{
    <div class="page-block mb-3">
        @if (!string.IsNullOrEmpty(block.Content))
        {
            switch (block.BlockType)
            {
                case "richtext":
                    <div>@Html.Raw(block.Content)</div>
                    break;

                case "image":
                    <img src="@block.Content" class="img-fluid" alt="Page Image" />
                    break;

                case "video":
                    <div class="ratio ratio-16x9">
                        <iframe src="@block.Content"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    break;

                case "cta":
                    var cta = JsonSerializer.Deserialize<CtaBlock>(block.Content);
                    if (cta != null)
                    {
                        <a href="@cta.Url" class="btn btn-primary">@cta.Text</a>
                    }
                    break;
            }
        }
    </div>
}
